<h1>
  Add a new bfp
</h1>


<hr>

<form action="/create_bfp" method="post">

  <div class="form-group">
    <label for="long_name">
      Long name
    </label>

    <input type="text" id="long_name" name="long_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="data_source">
      Data source
    </label>

    <input type="text" id="data_source" name="data_source" class="form-control">
  </div>

  <div class="form-group">
    <label for="gtin_upc">
      Gtin upc
    </label>

    <input type="text" id="gtin_upc" name="gtin_upc" class="form-control">
  </div>

  <div class="form-group">
    <label for="manufacturer">
      Manufacturer
    </label>

    <input type="text" id="manufacturer" name="manufacturer" class="form-control">
  </div>

  <div class="form-group">
    <label for="ingredients_english">
      Ingredients english
    </label>

    <textarea id="ingredients_english" name="ingredients_english" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="ndb_no">
      Ndb no
    </label>

    <input type="text" id="ndb_no" name="ndb_no" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create bfp
  </button>
</form>

<hr>

<a href="/bfps">
  Go back
</a>
